In [3]:
import pandas as pd
import os

In [6]:
DATASET_DIR = '.'

In [8]:
features = pd.read_csv('multilabel_data.csv.zip')
labels = pd.read_csv('multilabel_labels.csv')
labels.drop(columns='id', inplace=True)

/tmp/ipykernel_99936/1940777154.py:1: DtypeWarning: Columns (329,331,333,336,338,344,345,346,348,354,355,356,357,358,361,362,364,367,372,377,380,383,385,387,390,392,399,400,406,408,409,413,416,418,419,431,433,437,438,442,448,449,450,453,457,464,473,478,479,481,483,485,486,489,492,495,496,497,498,499,500,503,507,508,510,511,514,515,517,519,520,521,522,523,524,526,527,530,534,537,538,539,541,544,547,548,549,550,551,557,558,560,564,569,572,573,576,577,579,583,596,597,598,600,601,602,604,605,606,608,609,613,619,620,625,627,628,629,631,632,633,636,641,642,643,645,646,647,648,651,655,661,662,665,668,675,676,679,682,685,687,689,690,691,694,698,701,702,703,706,711,712,713,719,720,721,733,735,737,738,742,746,747,748,749,752,754,755,760,764,768,770,781,782,789,797,807,812,814,817,818,822,823,824,825,832,840,843,844,845,850,853,857,858,861,867,868,873,874,876,877,879,880,881,883,886,890,893,897,899,900,901,902,904,905,908,909,910,912,913,914,915,916,922,923,931,933,935,937,939,942,943,946,951,955,960,964,965,968,969,970,973,974,977,980,987,994,995,996,999,1000,1008,1014,1015,1016,1017,1020,1021,1023,1028,1031,1035,1036,1037,1039,1040,1043,1048,1051,1055,1058,1059,1072,1073,1074,1081,1090,1097,1098,1103,1104,1109,1112,1113,1114,1118,1120,1130,1134,1135,1139,1140,1147,1148,1149,1152,1154,1157,1158,1162,1163,1164,1166,1169,1174,1177,1180,1181,1182,1183,1185,1188,1189,1195,1197,1198,1200,1203,1208,1210,1212,1215,1217,1220,1222,1225,1229,1230,1233,1234,1241,1243,1246,1250,1251,1252,1254,1259,1262,1263,1265,1266,1269,1270,1273,1274,1276,1277,1279,1280,1282,1284,1285,1286,1289,1291,1292,1293,1294,1295,1301,1302,1304,1305,1306,1308,1309,1311,1313,1316,1318,1320,1322,1323,1325,1330,1335,1337,1340,1341,1343,1345,1350,1351,1352,1354,1357,1358,1359,1360,1361,1368,1369,1372,1377) have mixed types. Specify dtype option on import or set low_memory=False.
  features = pd.read_csv('multilabel_data.csv.zip')

In [13]:
label_names = labels.columns.values

In [15]:
for label_name in label_names:
    print(f"{labels[label_name].value_counts()}")

0    7735
1    6909
Name: service_a, dtype: int64
0    9792
1    4852
Name: service_b, dtype: int64
0    10776
1     3868
Name: service_c, dtype: int64
0    14419
1      225
Name: service_d, dtype: int64
0    13899
1      745
Name: service_e, dtype: int64
0    14216
1      428
Name: service_f, dtype: int64
0    13880
1      764
Name: service_g, dtype: int64
0    10278
1     4366
Name: service_h, dtype: int64
0    14402
1      242
Name: service_i, dtype: int64
1    12445
0     2199
Name: service_j, dtype: int64
1    11409
0     3235
Name: service_k, dtype: int64
0    13078
1     1566
Name: service_l, dtype: int64
0    13346
1     1298
Name: service_m, dtype: int64
0    12032
1     2612
Name: service_n, dtype: int64

In [9]:
data = pd.concat([features, labels], axis=1)

In [10]:
data

,id,release,n_0000,n_0001,n_0002,n_0003,n_0004,n_0005,n_0006,n_0007,...,service_e,service_f,service_g,service_h,service_i,service_j,service_k,service_l,service_m,service_n
0,11193,a,NaN,NaN,0.025449,NaN,NaN,0.368421,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0
1,11382,a,NaN,NaN,0.031297,NaN,NaN,0.315789,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0
2,16531,a,NaN,NaN,0.024475,NaN,NaN,0.342105,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0
3,1896,a,NaN,NaN,0.041694,NaN,NaN,0.447368,NaN,NaN,...,0,0,0,0,0,1,0,1,0,0
4,18262,c,NaN,NaN,0.038120,NaN,NaN,0.315789,NaN,NaN,...,1,0,0,0,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,4114,a,NaN,NaN,0.026532,NaN,NaN,0.500000,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
14640,5305,a,NaN,NaN,0.035846,NaN,NaN,0.342105,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0
14641,17461,c,NaN,NaN,0.060212,NaN,NaN,0.368421,0.4,NaN,...,0,0,0,1,0,1,1,0,0,1
14642,12373,b,NaN,NaN,0.020576,NaN,NaN,0.315789,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0
14643,5968,a,NaN,NaN,0.037254,NaN,NaN,0.526316,NaN,NaN,...,0,0,0,0,0,1,1,0,0,0

In [ ]:
train_data, test_data = train_test_split(
    data, 
    test_size=TEST_SIZE,  
    random_state=RANDOM_STATE
)

print(f'Data is splitted. Parts sizes: train_data = {train_data.shape}, test_data = {test_data.shape}')

train_data.head()